.header {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:20px;
    position: sticky;
    color:black;
    top: 0;
    z-index: 100;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  }
  
 
  
  
  .header__nav {

  }
  
 