.landing_page{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.landing_box{
    margin:15px;
}
.center_box{
    padding:15px;
    color:white;
    background-color:rgba(29, 6, 169, 1);

    
}

.contact_part{
    margin:15px;
    text-align: center;
}